.App {
  text-align: center;
}

.antToggle {
  padding: 5px;
  border: 2px solid black;
}

.antToggle:active {
  padding: 5px;
  border: 2px solid black;
  color: black;
}

.toggle-field {
  display: grid;
  gap: 2px;
}
