.App {
  text-align: center;
  margin: 10px;
  width: 500px;
}

.antToggle {
  padding: 5px;
  border: 2px solid black;
}

.antToggle:active {
  color: black;
}

.antToggle:disabled {
  border-color: gray;
}

.toggle-field {
  border: 2px solid black;
  padding: 5px;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(9, 1fr);
  background-color: lightgray;
  margin-bottom: 5px;
}

.rh-selector {
  border: 2px solid black;
  padding: 5px;
  background-color: lightgray;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin-bottom: 5px;
}

.unit-multi {
  border: 2px solid black;
  padding: 5px;
  background-color: lightgray;
  display: grid;
  gap: 2px;
  align-items: center;
  margin-bottom: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.multi-label {
  grid-row: 1;
  grid-column: 1;
}

.multi-input {
  font-size: 1.2em;
  text-align: center;
  grid-row: 1;
  grid-column: 2 / 4;
}

.output-zone {
  border: 2px solid black;
  padding: 5px;
  font-weight: bold;
  background-color: cyan;
}
